@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Pretendard", Inter, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 768px;
  --height-header: 60px;
  --height-fnb: 72px;

  --color-primary: #4854a2;
  --color-primary-light: #f3f5fb;

  --color-primary-50: #f3f5fb;
  --color-primary-100: #e4e9f5;
  --color-primary-200: #cfd9ee;
  --color-primary-300: #adbfe3;
  --color-primary-400: #869fd4;
  --color-primary-500: #6981c8;
  --color-primary-600: #5668ba;
  --color-primary-700: #4854a2;
  --color-primary-800: #424a8b;
  --color-primary-900: #39406f;

  --color-white: #ffffff;
  --color-black: #333333;
  --color-black-bright: #404040;

  --color-gray-dark: #888787;
  --color-gray-light: #f5f5f5;
  --color-gray-border: #d9d9d9;

  --color-red: #dc4646;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
